@import "bulma";

* {
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

img.rover {
  display: block;
  margin: 20px auto;
  object-fit: cover;
}

.rover {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: fill;
  margin: 20px;
}

.card-image {
  object-fit: cover;
}
